[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
.vscode/
.DS_Store
.vs/card game/FileContentIndex/6907c236-5a6b-4930-b249-8d78a979908e.vsidx
.vs/card game/FileContentIndex/b4bedfc1-7105-439a-be26-2fd1497e5b7e.vsidx
.vs/card game/FileContentIndex/f4ec0fc3-efea-435f-9390-d1e68474315e.vsidx
.vs/card game/FileContentIndex/869c385e-8300-4bd2-9b21-a046fd81a065.vsidx
